<div class="nested-fields">
  <%= f.label :address %>
  <%= f.text_field :address, class: "form-control" %>
</div>
# <%= f.fields_for :profiles do |builder| %>
      #   <%= render "profile_fields", f: builder %>
      # <% end %>
      
      # <div class="links">
      #   <%= link_to_add_association 'Add address', f, :profiles, class: "btn btn-primary" %>
      # </div>